.hero-image {
  display: flex;
  background-image: url('./rsz_1mountain_background.jpg');
  background-color: #3c475b;
  height: 768px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  color: rgb(222, 219, 233);
}
