.hero-image {
  display: flex;
  background-image: url('./Mountain-Background.jpg');
  background-color: whitergb(222, 219, 233);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  color: rgb(222, 219, 233);
}
