.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
  background-color: #3c475b;
  padding: 2rem;
}

/* #3c475b */
/* #434a55 */
/* #646873 */
