.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3c475b;
  padding: 2rem;
}

@media screen and (max-width: 1080px) {
  .project-container {
    flex-direction: column;
  }
}

/* #3c475b */
/* #434a55 */
/* #646873 */
