.navbar-container {
  display: flex;
  background-color: rgb(16, 15, 20);
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 20px;
  color: rgb(222, 219, 233);
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: rgb(222, 219, 233);
}

.nav-list-item {
  border: solid rgb(222, 219, 233) 2px;
  margin: 0.5rem 0.75rem;
  padding: 1rem;
}

.nav-list-item:hover {
  background-color: rgb(51, 94, 51);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgb(222, 219, 233);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    position: relative;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 515px;
    position: absolute;
    top: 58px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-list.active {
    background-color: rgb(30, 24, 32);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-list-item {
    text-align: center;
    padding: 2rem;
    width: auto;
    display: table;
  }
  .nav-list-item:hover {
    background-color: rgb(51, 94, 51);
    border-radius: 0;
  }

  .menu-icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(222, 219, 233);
  }
}
