.about-me-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 250px;
  justify-content: space-evenly;
}

.about-me {
  padding: 2rem;
  margin: 2rem;
  justify-self: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  margin: 3rem;
  border-radius: 50%;
}

@media screen and (max-width: 830px) {
}
